@media   screen and (min-width: 0px) and (max-width: 600px){
    

    /* *{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    
    } */
    /* :root{
        --bg-main:#18122B;
        --bg-primary:#ECF2FF;
    } */
    /* a{
        text-decoration: none;
    } */
    main{
        width: 100%;
        height: 35vh;
       
         
        margin-bottom: 10px; 
         
      
        
        
        
        
    }
    .m_1{
        width: 100%;
        
        /* padding: 5px; */
       
         
    }
    
    .m_2>h3{
         
        font-size: 10px;
    }
    
    @keyframes showup{
        0%{
            opacity: 0;
        }
        20%{
            opacity: 1;
        }
        80%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    
    /* .m_2>h3:hover{
        color: orangered;
     
    } */
    /* nav{
        display: flex;
        justify-content: center;
        align-items: center;
        
    } */
    
    nav>ul>li{
       
        padding: 3px 0px;
        margin: 3px;
         
        font-size: 8px;
    }
   
    
    
     
    nav>ul>li>a>button{
         
        padding: 3px 10px;
        border-radius: 5px;
        
        
        font-size: 8px;
    
    }
    /* nav>ul>li>button:hover{
         
        box-shadow: 0px 0px 05px 0px rgb(126, 70, 70);
        background-color: rgb(212, 76, 121);
    } */
    
    /* 2nd part ---------------------------------------->>>>>>>>>>> */
    
    .b_1{
        
        margin-top: 35px;
    
    
    
    }
    /* .b_1_1{
        
        width: 85%;
        
        
    } */
     
    .text>h2{
        font-size: 20px;
        padding: 5px 10px;
    
    }
    
    .text>h3{
        font-size: 8px;
        width: 100%; 
        padding: 1px 10px; 
    
    }
    
    
    .text>p{
         padding: 5px 10px;
         font-size: 5.4px;
         width: 80%;
         color: #575757;
    }
    .icon{
        margin-top: 10px;
    }
    .ictx{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        padding: 2px 10px;
        margin: 5px 0px;
        color: #3a3a3a;
        font-size: 9px;
    }
    .ictx_2{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        padding: 2px 10px;
        margin: 5px 0px;
        font-size: 9px;
        color: #3a3a3a;
    }
    .ictx>i{
        
        color: #3a3a3a;
    }
    
    .ictx_2>i{
        font-size: 5px;
        color:rgb(4, 168, 4);
    }
    .icon_3{
        padding: 2px 10px;
        margin: 10px 0px;
    
    }
    .icon_3>a>i{
        color: #3a3a3a;
        padding: 0px 10px 0px 0px;
        font-size: 12px;
    
    
    }
    
    
    
    .b_2nd{
        width: 30%;
        
        
        
        
    }
    .b_2nd>img{
        width: 35%;
        margin-left: 70px;
        margin-top: 10px;
        padding: 2px;
        box-shadow: 10px 10px 0px 0px rgb(204, 204, 204);
         
    }
    
    
    .scrol{
        /* border: 1px solid red; */
        width: 85%;
        height: 50px;
        margin: auto;
        position: relative;
        overflow: hidden;
        margin-top: 25px;
    }
    .itam{
         
        position: absolute;
        left: 100%;
        animation:left 48s linear  infinite;
    
    }
    @keyframes left{
        to{
    
            left: -200px;
        }
    }
    .itam>i{
        font-size: 20px;
        color: #3a3a3a;
        padding: 7px;
        
    
    }
    .itam>i:hover{
         color: orangered;
    
    }
    .itam1{
        animation-delay:4s ;
        
        
        
    
    }
    .itam2{
        animation-delay:8s ;
        
    }
    .itam3{
        animation-delay: 12s;
        
    }
    .itam4{
        animation-delay:16s ;
        
    }
    .itam5{
        animation-delay: 20s;
        
    }
    .itam6{
        animation-delay: 24s;
        
    }
    .itam7{
        animation-delay:  28s;
        
    }
    .itam8{
        animation-delay: 32s;
        
    }
    .itam9{
        animation-delay: 36s;
        
    }
    .itam10{
        animation-delay: 40s;
        
    }
    .itam11{
        animation-delay: 44s;
        
    }
    .itam12{
        animation-delay: 48s;
        
    }
    .itam13{
        animation-delay: 52s;
        
    }
    
    /* part of about */
    
    
    .about{
        width: 100%;
        background-color: rgb(239, 240, 248);
         
         
    }
     
    .btn>button{
        padding: 5px 10px;
        border-radius: 10px; 
        font-size: 12px;
        background-color: rgb(229, 229, 229);
        border: none;
        margin-top: 50px;
       
    }
    
    .a_2nd{
       width: 85%;
        
       margin: auto;
       
    }
    .a_2nd>h3{
        text-align: center;
        font-size: 14px;
        /* margin-top: 30px; */
        margin: 20px;
    }
    .a_2nd_1{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    .a_2nd_1>p{
        width: 47%;
         height: 120px;
         padding: 10px 5px;
         box-shadow: 0px 0px 5px 0px rgb(165, 211, 234);
        background-color: white; 
        margin: auto;
        font-size: 8px;
        border-radius: 5px;
        color: #3a3a3a;
        text-align: justify;
        /* border: 0.1px solid red; */
         
     }
     .a_2nd_1>p:hover{
        box-shadow: 0px px 10px 0px rgb(165, 211, 234);
        transform: scale(1.1);
        transition: 3s;
     }
     .a_2nd_1>h5{
        font-style: italic;
        font-weight: normal;
        font-size: 6px;
        padding: 5px;
        margin-bottom: 50px;
     }
    
    
    
    /* skills_________________________----------------------<<<<<<<<<<<>>>>>>>>>>> */
    
    
    .skills{
        width: 100%;
         margin-bottom: 50px;
         margin-top: 50px;
         
        
    }
    .skills>nav{
        width: 85%;
         
        margin: auto;
    
    }
    .skills>nav>ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        
        
    }
    .skills>nav>ul>li{
        margin: 5px 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1px;
        
    }
    .skills>nav>ul>li>img{
        width: 50%;
    }
    .skills>nav>ul>li>p{
        font-size: 5px;
        color: #3a3a3a;
    }
    .skills>nav>ul>li>p:hover{
        color: rgb(255, 145, 0);
    }
    .skills>nav>h3{
        text-align: center;
        font-size: 12px;
        margin: 18px;
        font-weight: normal;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .btn_2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
    .btn_2>button{
        padding: 5px 30px;
        border-radius: 5px; 
        font-size: 12px;
        background-color: rgb(229, 229, 229);
        border: none;
         
    }
    
    
    
    
    
    
    
    
    
    
     /* contact part --------------------------->>>>>>>>>>> */
    
    
     .contact{
        width: 100%;
         
        padding: 5px;
        background-color: rgb(239, 240, 248);
        
    
     }
     .c_1{
        width: 100%;
        /* border: 1px solid red; */
        padding: 5px;
        position: relative;
        
        
    
     }
     .c_1_1{
        position: absolute;
        left: 200px;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
         
         
         
        
     }
     .c_1_1>p{
        border-bottom: 5px solid rgb(181, 158, 252) ;
        padding: 10px;
        font-size: 18px;
         
        font-weight: bold;
        display: inline-block;
        
     }
     .c_2{
        width: 85%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgb(165, 211, 234) ;
     }
     .c_2_1st{
        width: 35%;
         
        margin: 0px 0px;
       
    
     }
    
     .c_2_1st>h5{
        font-size: 10px;
       
        color: #3a3a3a;
         
    
     }
     .c_2_1st>h2{
        font-size: 20px;
        margin: 10px 0px;
    
     }
    
      
     .i_1{
        display: flex;
        align-items: center;
        gap: 5px;
        
         
     }
     .i_1>i{
        color: rgb(144, 90, 236);
        font-size: 8px;
        
     }
     .i_1>p{
        font-size: 10px;
        color: #575757;
        margin-bottom: 3px;
        
     }
     .i_1_2{
        margin-bottom: 5px;
    
     }
     .i_1_2>h3{
        font-weight: normal;
        font-size: 8px;
        margin-left: 20px;
        color: #575757;
        
     }
    
     .c_2_2nd{
        width: 50%;
         
    
     }
     form{
        /* width: 85%;
        margin: auto; */
        margin: 95px 0px;
         
     }
     .c_2_2nd>form{
        display: flex;
        flex-wrap: wrap;
         
         
         
        
     }
     .c_2_2nd>form>.f1{
        font-weight: normal;
        margin: 5px;
        width: 45%;
        
        
         
     }
     .c_2_2nd>form>.f1>h4{
        font-weight: normal;
        font-size: 8px;
     }
     .c_2_2nd>form>.f1>input{
        width:100% ;
        margin: 2px 0px;
        font-size: 8px;
        padding: 5px 5px;
        border-radius: 3px;
        border: 2px solid  gainsboro;
        box-shadow: 0px 0px 05px 0px whitesmoke;
     }
     .c_2_2nd>form>.f1>input:hover{
        box-shadow: 0px 0px 10px 0px rgb(165, 211, 234);
        
     }
     .c_2_2nd>form>.f1:nth-child(5){
        width: 94%;
        
     }
     .f2>input{
        height: 50px;
     }
     .f1>button{
        width: 100%;
        background-color: rgb(90, 160, 236) ;
        color: white;
        font-size: 8px;
        border: none;
        padding: 5px 10px;
        border-radius:5px ;
        font-weight: bold;
        margin-bottom: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
     .f1>button:hover{
        color:gainsboro ;
        box-shadow: 0px 0px 5px 0px rgb(165, 211, 234);
    
     }
     .c_4>p{
        font-weight: bold;
        font-size: 12px;
        color: #3a3a3a;
        padding: 5px;
    
     }
     .ics>i{
        color: #575757;
        font-size: 14px;
        padding: 5px;
     }
     /* footer________------------------------>>>>>>>>>>>>><<<<<<< */
     footer{
        width: 100%;
        /* border: 1px solid red; */
        background-color: rgb(239, 240, 248);
     }
     .fot1{
        border-top: 1px solid grey;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
     }
     .fot1>h2{
        color: #3a3a3a;
        font-size: 7px;
        font-weight: normal;
     }
     .fot1>nav{
         
     }
     .fot1>nav>ul{
        list-style: none;
    
     }
     .fot1>nav>ul>li{
        color: #3a3a3a;
        font-weight: normal;
        font-size: 8px;
    
    
    
     }
      
        
    


}